bin/
lib/*.jar

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore IntelliJ files
.idea

# Ignore Fleet files
.fleet

simae/src/main/java/simae/cli/Nodo.java
simae/src/main/java/simae/cli/Testing.py

# Mac OS files
.DS_Store

#Plugin vs-code
simae-plugins/vs-code/src/libs/resources/*
simae-plugins/vs-code/src/node_modules/*
simae-plugins/vs-code/src/*.vsix
simae-plugins/vs-code/src/package-lock.json


launch4j/output/*
!launch4j/output/.gitkeep

innosetup/output
